.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acc8d7;
}

.example {
  margin-top: -10px;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;
}
